.content-view {
    background-color: $body-content;
    padding-top: 20px;
}

//Swiper

.swiper-container {
    padding: 0 0 30px 0;
}

.swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: $primary;
}

.swiper-button-prev, .swiper-button-next {
    background-size: 15px;
}

.daftar-kelas {
    margin: 2em 0;

    h2 {
        padding-bottom: 1em;
    }

    .level {
        padding: 1em;
        margin: 0;

        &:hover {
            background-color: rgba($body-content, 0.3);
            transition-property: background-color;
            transition-duration: .6s;
        }
    }
}


// Helper kelas 

.level {
    &.is-centers {
        justify-content: center;
    }

    &.is-start {
        justify-content: start;
    }

    .level-item:not(:last-child) {
        margin-right: 20px;
    }
}

