a {
    color: unset;
    
    &:hover {
        color: unset;
    }
}


.navbar {
    background-color: $primary; 
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

    .navbar-item {
        background-color: unset !important;
        color: white !important;

        img {
            max-height: unset;
        }
    }

    .navbar-menu {
        align-items: center;

        .navbar-center {
            margin-left: auto;
            max-width: 440px;
            width: 100%;
        }

        .navbar-end {
            .button {
                background-color: unset;
                border: none;
                color: white;
            }
        }
    }
}

.menu-bar {
    background-color: $body-bg;
    position: fixed;
    top: 3.25em;
    z-index: 9999;
    min-height: calc(100vh - 5.4rem);
    width: 220px;

    .menu {
        padding-top: 20px;
        padding-bottom: 40px;

        &:not(:last-child) {
        border-bottom: 1px solid rgba(151,151,151,0.2);
        }

        .menu-item {
            display: block;
            width: 100%;
            color: white;
            padding: 5px 0 5px 25px;

            &.is-active {
                border-left: 4px $primary solid;
                background-color: rgba($primary, .5);
                padding-left: 21px;
            }

            &.icons {
                display: flex;
                align-items:center;

                span {
                    padding-left: 20px;
                }
            }
        }
    }
        
}

.page {
    margin-left: 220px;
    margin-top: 52px;
    min-height: calc(100vh - 5.4rem);
}

.content-view {
    padding-top: 20px;
    padding-bottom: 40px;

    &.bg-dark {
        background-color: $body-content;
    }

    &.bg-white {
        background-color: #e9ebee;
    }
}

.footers {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 9999;
}

//component

.box { 
    box-shadow: none;
    border: none;
}

//Swiper

.swiper-container {
    padding: 0 0 30px 0;
}

.swiper-pagination-bullet {
    background: #2296F3;
}

.swiper-pagination-bullet-active {
    background: $primary;
}

.swiper-button-prev, .swiper-button-next {
    background-size: 15px;
}

// Helper kelas 

.level {
    &.is-center {
        justify-content: center;
    }

    &.is-start {
        justify-content: start;
    }

    .level-item:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .page {
        margin: 0;
        padding-top: 104px;
    }

    .navbar-icon {
        align-items: center;
        display: flex;
        margin-left: auto;
        
        .icon {
            color: white;
            margin-right: 15px;
        }
    }

    .mobile-nav {
        position: fixed;
        z-index: 9999;
        margin-top: 52px;
        width: 100%;
        padding: 1em 0;
        background-color: $body-bg;
        color: white;

        .level-item {
            .is-active {
                color: $primary;
            }
        }
    }

    .flip-column {
        flex-direction: column-reverse;
        display: flex;
    }
}